.env
.env.backup
.phpunit.result.cache
/.vagrant
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor/
Homestead.json
Homestead.yaml
app/storage/
bootstrap/compiled.php
docker-compose.override.yml
npm-debug.log
public_html/hot
public_html/storage
yarn-error.log
