.bd-navbar {
    background-color: #33A6B8;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

#header-logo {
    width: 1rem;
    height: 1rem;
}

header {
    font-size: 0.8rem;
    font-weight: 600;
}

table {
    border: 1px solid #e4e4e4;
    border-collapse: collapse;
    font-size: 12px;
    width: 100%;
}

table th {
    border: solid 1px #ddd;
    background-color: #EEEEEE;
}

table td {
    border: solid 1px #ddd;
}

/**
    #dashboard-content
 */
#dashboard-content .card-header {
    font-weight: 600;
    background: #E6F1F6;
}

/**
    #projects-content
 */
#projects-content ul.project-list {
    margin-left: 0;
    padding-left: 0;
}

#projects-content ul.project-list li {
    list-style-type: none;
    margin-bottom: 0.5rem;
}

#projects-content .project-link {
    text-decoration: none;
    color: #4183C4;
    font-weight: 600;
}

#projects-content .project-link:hover {
    text-decoration: underline;
}

/**
    #project
 */
h1#project-name {
    margin-top: 0.6rem;
    margin-bottom: 0.8rem;
    padding-left: 2rem;
    font-size: 1.6rem;
}

#main-menu {
    width: 100%;
    border-bottom: 1px solid #EAEAEA;
    border-bottom-color: #CACACA;
    border-radius: 3px;
    margin-bottom: 0.5rem;
}

#main-menu .main-menu-cell {
    text-align: center;
}

#main-menu .main-menu-cell a {
    padding: 0.4rem 0.75rem;
    text-decoration: none;
    display: block;
    color: #b2afaa;
    font-size: 0.7rem;
    font-weight: 600;
}

#main-menu .main-menu-cell.active a {
    color: #383838;
}

#main-menu .main-menu-cell a > span {
    display: block;
}

#main-menu .main-menu-cell a > i {
    font-size: 1.2rem;
}

#main-menu .main-menu-cell a:hover {
    color: #888;
    text-decoration: none;
}

/**
    #summary-content
 */
#summary-content .card-header {
    font-weight: 600;
    background: #E7F5F7;
}

/**
    #activity-content
 */
#activity-content .card-header {
    font-weight: 600;
    background: #E7F5F7;
}


/**
    #versions-content
 */
#versions-content .card-header {
    font-weight: 600;
    background: #E7F5F7;
}

#versions-content .card-header .create {
    font-size:0.8rem;
    font-weight:400;
    line-height:1.5rem;
}

#versions-content .sprint {
    margin-bottom: 0.75rem;
}
#versions-content .sprint-title {
    font-weight:600;
}
#versions-content .sprint-date {
    font-size:0.8rem;
}

#versions-content label.form-label {
    font-size:0.8rem;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

/**
    #backlog-content
 */
#backlog-content .card-header {
    font-weight: 600;
    background: #E7F5F7;
}

/**
    #kanban-content
 */
#kanban-content .card-header {
    font-weight: 600;
    background: #E7F5F7;
}

/**
    #issue-content
 */
#issue-content .card-header {
    font-weight: 600;
    background: #E7F5F7;
}
